
<h1>タスク一覧</h1>

<div>
  <%= form_with(url:tasks_path,local: true,method: :get) do |form| %>
  <%= form.label :title,'タイトル検索' %>
  <%= form.text_field :title,value: params[:title] %>
  <%= form.label :task_status,'ステータス検索' %>
  <%= form.select :task_status,Task.task_statuses.keys, selected: params[:task_status],include_blank:"選択して下さい" %>
  <%= form.label :name,'ラベル検索' %>
  <%= form.select("label_id", Label.pluck(:name, :id), { include_blank: "ラベルを選択する" }) %>
  <%= form.submit 'Search' %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>期限</th>
      <th>ステータス</th>
      <th>優先順位</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.task_limit_on %></td>
      <td><%= task.task_status %></td>
      <td><%= task.priority %></td>
      <td><%= link_to '詳細を確認する', task_path(task.id), class: "btn btn-outline-primary" %></td>
      <td><%= link_to "タスクを編集する", edit_task_path(task.id), class: "btn btn-outline-warning", data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to 'タスクを削除する', task_path(task.id), class: "btn btn-outline-danger", method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
      <td>
        <% task.labels.each do |label| %>
          <%= label.name %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true"), class: "btn btn-primary btn-lg" %>
<%= link_to "優先順位が高い順にソートする", tasks_path(sort_priority: "true"), class: "btn btn-primary btn-lg" %>

<br>
<%= link_to 'タスクを作成する', new_task_path, class: "btn btn-dark btn-lg" %>
<%= link_to '管理者画面/ユーザー一覧へ', admin_users_path, class: "btn btn-dark btn-lg" %>
<%= paginate @tasks %>